{{extend 'layout.html'}}
<p>Vendas de - {{=vendedor.nome_vendedor}}</p><br>
<a class="btn btn-primary" href="{{=URL('inserir_venda', args=vendedor.id)}}">Inserir Venda</a><br><br>
<div class="table-responsive">
	<table class="table table-striped table-borderless">
	            <thead>
	              <tr>
	                <th>Data</th>
	                <th>Caderno</th> 
	                <th>Fichas</th>
	                  <th>Entrada</th>
	                  <th>Venda</th>
	                  <th>À Vista</th>
	              </tr>
	            </thead>
	            <tbody>
	
	                {{caderno=0.0}}
	                {{fichas=0.0}}
	                {{entradas=0.0}}
                     {{venda=0.0}}
	                {{avista=0.0}}
	
					{{for row in rows:}}
	              <tr> 
	                  <th><a href="{{=URL('alterar_venda', args=row.id)}}">{{=row.data_venda}}</a></th>
                      <th>{{=row.vale_caderno}}</th> 
	                <th>{{=row.quant_fichas}}</th>
	                  <th>{{=row.entradas_venda}}</th>
	                  <th>{{=row.vendapraso}}</th>
	                <th>{{=row.vendaavista}}</th> 
	<th>
	                  {{caderno+=row.vale_caderno}}
	                {{fichas+=row.quant_fichas}}
	                {{entradas+=row.entradas_venda}}
                     {{venda+=row.vendapraso}}
	                {{avista+=row.vendaavista}}
	              </tr>
	              {{pass}}
					 <tr>
	                 <th>Total</th>
	                 <th>{{=caderno}}</th>
	                 <th>{{=fichas}}</th>
	                 <th>{{=entradas}}</th>
	                 <th>{{=venda}}</th>
	                 <th>{{=avista}}</th>
	                     
	              </tr>
	            </tbody>
	          </table>
