{{extend 'layout.html'}}
<p>Lista Mercadoria de Envio Para venda - {{=projeto.nome_chefe}}</p>
<a class="btn btn-primary"  href="{{=URL('inserir_merc', args=projeto.id)}}">Enviar Produto</a>
<br><br>
<div class="table-responsive">
   <table class="table table-striped table-borderless">
            <thead>
              <tr>
                <th>Quant</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
				{{total_preco_mercadoria=0.0}}
				{{total_custo_mercadoria=0.0}}
				{{total_quant=0.0}}
				{{for row in rows:}}
              <tr>

                <th>{{=row.quant_pcs_enviada}}</th>
                  <th><a href="{{=URL('alterar_merc', args=row.id)}}">{{=row.descricao}}</a></th>
				<th>{{=row.preco_unitario}}</th>
				{{total_preco=row.quant_pcs_enviada*row.preco_unitario}}
                  {{total_preco_mercadoria+=total_preco}}
				<th>{{=total_preco}}</th>
				 {{total_quant+=row.quant_pcs_enviada}}
              </tr>
              {{pass}}
				 <tr>

                <th>{{=total_quant}}</th>
				<th>Total</th>
				<th>--></th>
				<th>{{=total_preco_mercadoria}}</th>
					{{projeto.total_preco_envio=total_preco_mercadoria}}
                     {{projeto.total_quant_pcs_envio=total_quant}}
                    {{projeto.update_record()}}
              </tr>
            </tbody>
    </table>
